[2018-07-12 12:39] c4ntin opened #1 "Problem with list of dynamic object"
I try to compare two Json. They contain some list of dynamic object.
I write a sample here:  https://dotnetfiddle.net/ad0YCC
What did I do wrong?

Thank you for your work.

[2018-07-13 17:20] GregFinzer commented on #1
@c4ntin Compare .NET Objects does not support dynamic objects.

[2018-07-16 21:41] ValeraT1982 commented on #1
Sorry for the later answer. I was on vacation.

You don't need to use 'items[0]' and 'items[1]' to change field.
I think it what you need.

[code]

[2018-07-18 23:58] #1 closed

[2018-08-09 13:15] Thowk opened #2 "ExpandoObject with collections"
It seems to be a problem when comparing ExpandoObject containing collections.

I try to compare such jsons:

`
{
  "Transaction": [
    {
      "Name": "abc",
      "No": 101
    }
  ]
}
`
`
{
  "Transaction": [
    {
      "Name": "abc",
      "No": 102
    }
  ]
}
`

This is how my configuration looks like:
[code]
Compare returns 'true'. (JsonConvert.DeserializeObject comes from Newtonsoft.Json)

[2018-08-09 15:38] GregFinzer commented on #2
Is this for .net core?

[2018-08-09 15:48] Thowk commented on #2
Yes, but I guess the same is on i.e net461
________________________________
From: Greg Finzer <notifications@github.com>
Sent: Thursday, August 9, 2018 5:38:01 PM
To: ValeraT1982/ObjectsComparer
Cc: Thowk; Author
Subject: Re: [ValeraT1982/ObjectsComparer] ExpandoObject with collections (#2)

Is this for .net core?

—
You are receiving this because you authored the thread.
Reply to this email direc

[2018-08-13 17:13] ValeraT1982 commented on #2
Sorry for later answer. Every time I go to vacation somebody has an issue :)
It doesn't work because the type of "Transaction" property is "System.Collections.Generic.List<object>", so Comparer compares every element as an object (object doesn't have properties No and Name).
Fix for this issue is committed now and probably will be in the next version (I need to think if it affects any other cases)

[2018-09-12 18:41] ValeraT1982 commented on #2
Resolved in 1.2

[2018-09-12 18:41] #2 closed

[2018-10-06 22:11] Edimarcos opened #3 "Problems comparing lists different size and comparing dates"
1 - I can not get differences from class members by comparing two lists where the quantity of items are different, when the lists are equal I get the differences.
2 - Dates equal get differences.

Example of model:

[code]

Example of Implementation of the tests:

[code]

DifferenceType=ValueMismatch, MemberPath='Name', Value1='Aenean Lorem Nibh', Value2='Aenean Quisque Nibh'
DifferenceType=ValueM

[2018-10-08 16:03] ValeraT1982 commented on #3
Hi @Edimarcos. Thanks for you question.
Behavior you described is correct. If the numbers of elements are not the same Comparer doesn't compare elements. This situations can be tricky because:
1. How to match elements between the lists? In your example should Comparer compare first elements of formula1.Items with the first element of the formula2.Items? Or with the second? In your case, as I under

[2018-10-08 18:46] ValeraT1982 commented on #3
@Edimarcos
I added your example (a bit simplified) to the list of examples (Example 4).
You need version 1.2.1 to make it work because of a small issue in the default Factory implementation.
Enjoy!!!! :)

[2018-10-08 18:46] #3 closed

[2018-10-24 20:12] DerekBriske opened #4 "DoNotCompare doesn't hold if a comparer for that type is added."
If you have an object in which you want to utilize the stringIgnoreCase comparer, and any property you do not want to compare that is a string is now comparing.

Given the Example1Tests, if you update the set up comparer, and include a ingoreCaseStringsValueComparer, the .Id do not compare no longer sticks. the equal unit test fails.

I would think that the donotcompare, should stick and take prio

[2018-10-25 17:08] ValeraT1982 commented on #4
@DerekBriske in current implementation if you override comparer by type this comparer has highest priority. I don't exactly remember why I decided that it's a good idea. What you are saying make sense to me because overrides by member are more specific than overrides by type.
I committed a change to fix it and most likely this change will be in the next version. If you need it you can build packag

[2018-10-25 17:29] DerekBriske commented on #4
@ValeraT1982 that did the trick! I can't thank you enough! this is a great package. I'll pull the update down from nuget once its out there.

[2018-11-22 16:48] juniormayhe opened #5 "Is it possible to compare different types?"
Can we compare different types with the same properties?

So comparing two objects like:

[code]
and
[code]

comparer.Compare(person, customer) would return true.

[2018-11-24 20:22] ValeraT1982 commented on #5
@juniormayhe, if you cast Customer to Person you can compare this objects as Person

[2018-11-27 00:44] #5 closed

[2018-12-25 08:04] bryans2k commented on #4
Would also be great if you could use NulableStringsValueComparer.Instance and IgnoreCaseStringsValueComparer.Instance together.

[2018-12-26 16:45] ValeraT1982 commented on #4
@bryans2k Good idea. I don't thin that it should be implemented as using comparers together, I'm thinking about adding a new one like NulableIgnoreCaseStringsValueComparer.

[2019-01-15 15:19] MaksimShilaS opened #6 "Comparer returns true for different items after cast"
class Item
        {
            public string Name { get; set; }
        }

        [Test]
        public void ItemsDifferent_ReturnsFalse()
        {
            var item1 = new Item {Name = "First Item"};
            var item2 = new Item {Name = "Second Item"};

            var comparer = new Comparer();
            Assert.False(comparer.Compare((object)item1, item2));
        }

This test fail

[2019-01-15 16:44] ValeraT1982 commented on #6
It is expected behavior because if you cast one of the items to the object than items will be compared with each other as an objects (object doesn't have Name property, co this property is skipped during comparison).

Lets look at the example.
[code]

[code]

[code]

It allows you to have more control.

[2019-01-15 16:45] #6 closed

[2019-01-16 10:28] maksim-shila commented on #6
For me it looks like a feature, not default behavior.
Even you cast B object to A, you not change object type - it still B.
Anyway, your project your rules =)
Thanks)

[2019-02-14 17:15] joshhubers opened #7 "Ignoring properties of nested lists"
Great library!

I was wondering if you could help me out. I'm trying to ignore a property on a nested list (specifically the List<T>.Capacity property), and can't quite seem to solve it.

This is a quick example:

[code]

This produces a difference:
[code]

If it matters I would also like to make it generic so that I can ignore capacity of any models with nested lists.

[2019-02-14 20:03] ValeraT1982 commented on #7
Very interesting case. It's an issue. It will be fixed in the next version and will work without adding override for this property.

Short term solution:

[code]

[2019-02-14 20:12] joshhubers commented on #7
Alright.

For now I'll have to do a separate workaround as I have many models with different nested list types, and it's not practical to define an override for every nested list property.

Ex. "in reality" I have many different ```Foo``` types and each ```Foo``` is more like:
[code]

Thanks for your work on this!

[2019-02-14 20:16] ValeraT1982 commented on #7
It's fixed in this repository now. You can download, build and use it.
I'm going to upload new version in 1-2 months.

[2019-02-14 20:19] joshhubers commented on #7
Fantastic!

Thanks!

[2019-05-07 20:41] andreiackowski opened #8 "Compare does not comparing subclass with same type"
In the sample below the comparer.Compare method is just comparing the first level of object, and is not considering the levels 2 and 3 of the object.

            var a1 = new ClassA { StringProperty = "String", IntProperty = 1 ,
            SubClass = new ClassA
            {
                IntProperty = 2,
                SubClass = new ClassA
                {

                    IntProperty

[2019-05-07 21:19] ValeraT1982 commented on #8
For object a1 SubClass property has a value, for object a2 SubClass property is null.
If custom comparer is not not specified for ClassA then ToString() method is used to get a value (in this case it's "ConcoleApp6.ClassA", by default ToString() returns full name of the class).
It looks correct.
If two properties are being compared and one property has a value (not null) when another one doesn't (

[2019-05-07 21:20] #4 closed

[2019-05-07 21:20] ValeraT1982 commented on #4
Fixed in 1.3

[2019-05-07 21:21] #7 closed

[2019-05-07 21:21] ValeraT1982 commented on #7
Fixed in 1.3

[2019-05-07 21:41] andreiackowski commented on #8
Makes sense thank you.

[2019-05-07 21:51] #8 closed

[2019-05-08 10:15] RobSwDev opened #9 "Default comparer incorrectly reports trees as equal"
The simple test case below fails. Tried debugging it and didn't see anything glaringly obvious.
Looks like an incredibly useful project otherwise.

[code]

[2019-05-08 16:13] ValeraT1982 commented on #9
@RobSwDev good catch. Comparer doesn't compere properties of the parent interfaces. It will be fixed in the next version.
For now the easiest way to fix it is to change ChildNodes type from IList<....> to List<>.

[2019-05-14 17:08] ValeraT1982 commented on #9
Fixed in 1.3.1

[2019-05-14 17:08] #9 closed

[2019-06-25 23:56] MayurikaD opened #10 "Problem with DateTime? Comparison"
I was trying to add a DynamicValueComparer to compare nullable dates, but I get an exception every time I try using this below:

 var dateComparer = new DynamicValueComparer<DateTime?>
( (date1, date2, settings) => date1 != null && date2 != null && date1?.Date == date2?.Date);

Am I missing some implementation here?

[2019-06-26 00:44] ValeraT1982 commented on #10
Hi @MayurikaD. What exception do you have?

I think the issue is because you use ? but not Value property for Nullable type. Try this:

[code]

[2019-07-10 06:34] MayurikaD commented on #10
Hi thanks for your help. So this throws a System.ArgumentException when both (or any one) values are null.
![image](https://user-images.githubusercontent.com/31679708/60946020-ba836e00-a31f-11e9-8807-685507677143.png)

[2019-07-11 04:47] ValeraT1982 commented on #10
@MayurikaD, can you provide the callstack? In what line do you have this exception? Otherwise I'll have a look next week.

[2019-07-11 05:16] MayurikaD commented on #10
@ValeraT1982 Hi here is the detail
![image](https://user-images.githubusercontent.com/31679708/61023827-0c8ac900-a3de-11e9-89c8-d0614f568fed.png)

[2019-07-12 05:34] ValeraT1982 commented on #10
@MayurikaD, try add date1.HasValue && date2.HasValue to the condition.

And condition should return true if both values are null.

If it doesn't work then I'll have a look next week.

[2019-07-15 09:05] MayurikaD commented on #10
Hi, tried with the HasValue check, but it still returns the same exception.

[2019-07-15 18:43] ValeraT1982 commented on #10
It looks like an issue with nulls in DynamicValueComparer. It will be fixed in the next version.
As a workaround you can create class which implements AbstractValueComparer<DateTime?>and use it

[2019-09-23 13:14] alexander9999 opened #11 "Comparison of Generic objects"
i have a question to ObjectsComparer.
i have a Dto base type and some sub class type, say, base type "Person" and "Student" and "Professor", Student and "Professor" derive from Person with their own Properties. A Method has a Parameter of type Person, now i want to compare the argument with a another object, with could be Person, Student or Professor, how to compare the argument with the object wi

[2019-09-23 16:06] ValeraT1982 commented on #11
@alexander9999, I'm not sure that I fully understand the question. I guess if you want to compare objects as Person (compare only fields/properties from Person) you can create comparer like this:

`var comparer = new Comparer<Persone>();`

[2019-10-02 00:48] #11 closed

[2019-11-18 22:11] ianmann56 opened #12 "Ignore members without overriding Comparer<T>"
Allow caller to set fields on which the comparer should ignore. This could be by member name, by member type or by lambda that takes the MemberInfo of the member and a boolean that represents whether or not to ignore the field.

Example interface may look like this:

Assume class Person
[code]

Exclude members by name
[code]

Exclude members by type
[code]

Exclude members based on lambda
[code]

[2019-11-18 22:25] ValeraT1982 commented on #12
@ianbro thanks for the ideas. Sounds like a good enhancements. I'll think about implementing it in the next version.

[2019-11-19 02:28] ianmann56 commented on #12
Are you accepting PR's if I fork and implement it myself?

[2019-11-19 16:58] ValeraT1982 commented on #12
Yes. Sound like a reasonable change.

[2019-11-21 18:06] ValeraT1982 commented on #10
Fixed in 1.4.0

[2019-11-21 18:06] #10 closed

[2019-11-21 18:13] ValeraT1982 commented on #12
Ignore member methods were added in version 1.4.0

I'm still thinking about adding **With*** methods. Haven't decided yet. Feel free to provide any thoughts about it.

[2019-11-21 18:13] #12 closed

[2019-11-21 21:34] ianmann56 commented on #12
See: https://github.com/ValeraT1982/ObjectsComparer/pull/13#issuecomment-557281492

[2019-11-27 00:39] ValeraT1982 commented on #12
@ianmann56 I added override/ignore by member filter as you described. Please have a look. If it's what you want I'll publish new version with this change.

[2019-12-02 00:21] ianmann56 commented on #12
I saw it. Perfect! Thank you so much and sorry for not making the request more clear in the first place.

[2019-12-16 13:37] anuragnair03 opened #14 "Unable to compare list ignoring the order."
`list a = {1,2,3};
list b = {3,2,1};`

On comparing the above two list it gets added as a ValueMismatch difference. Is this expected.
Can you please suggest any work-around for ignoring the order of list.

Thanks in advance!

[2019-12-16 22:34] ValeraT1982 commented on #14
@anuragnair03, thank you for asking. This is expected behavior. You can write custom comparer for you list like in **Example 4: Custom comparer for list**
Please let me know if you have any questions.

[2019-12-27 00:39] #14 closed

[2020-01-20 13:44] Gerardo-Sista opened #15 "Reference not working (maybe VS issue)"
Hello,
thank you for your library.
I have a problem, I installed nuget package under a NETSTANDARD 2.0 class library project.
It happens that in release mode your dll is copied into the bin\netstandard2.0\debug folder (and everything works fine).
But in debug the dll is not copied into the bin\netstandard2.0\debug folder

I know maybe it is not related to your library but I never had this issue be

[2020-01-20 14:04] Gerardo-Sista commented on #15
Was a VS issue, adding
 <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>
solved the problem.

Thank you again! :)

[2020-01-20 14:04] #15 closed

[2020-01-22 09:38] ReinerVelte opened #16 "Comparing collections not depending on the order of their elements"
First of all thanks for the your great tool !! I am trying to use in my current project.
Working with entities, the load order of entities can vary, so I am searching for a way to compare collections disregarding the load order, so that basically (1, 2, 3) should be equal to (1, 3, 2).
Do you have any suggestions how to achieve that?

(Maybe this is not even a issue, but I didn't see another way t

[2020-01-22 22:07] ValeraT1982 commented on #16
@ReinerVelte thank you for asking. You can write custom comparer for you list like in Example 4: Custom comparer for list
Please let me know if you have any questions.

[2020-01-24 14:01] ReinerVelte commented on #16
Dear Valerii,

Many thanks for your kind reply.

I managed to write a custom comparer to do – almost – what I wanted to do. The only thing I didn’t manage to achive is to call an appropriate comparer to compare collection elements in depth and not by the regular .NET Equals method. I think I have to split my rather large comparer configured for an object hierarchy of about 20 types into different

[2020-01-24 18:38] ValeraT1982 commented on #16
@ReinerVelte , it's OK to send me a code samples to review. It would be interesting for me to know more about how this framework can be used.  I sent you an invitation and email to your linkedin profile.

[2020-01-24 18:38] #16 closed

[2020-05-13 13:11] upper-link opened #17 "Method `BaseComparer/AddComparerOverride` does not not override"
Because the internal method `ComparerOverridesCollection/AddCompare` throws an exception

[code]

[2020-05-14 03:06] ValeraT1982 commented on #17
@Upper-Link, can you please provide your code?
It throws exception if member has already been overwritten.

[2020-08-07 14:44] kenperregaux opened #19 "List of sub objects."
I am investigating this package and and was very excited about it. However, I am running into a bit of a road block and would love some help. Below are the classes and test data I am using to test with and as you can see the main class has a list of a sub class. However, the only differences I get are the name difference if there is a difference in length of lists...I was hoping it would return th

[2020-08-07 16:59] ValeraT1982 commented on #19
@kenperregaux behavior you described is correct. Comparer compare individual elements of the list only if lists have the same number of elements.

You can write your custom comparer to compare elements. [This ](https://github.com/ValeraT1982/ObjectsComparer/tree/master/ObjectsComparer/ObjectsComparer.Examples/Example4)example compare elements based on ids.

More details why it's not implemented ye

[2020-08-07 17:01] #17 closed

[2020-08-07 17:03] kenperregaux commented on #19
Thanks for the quick response. Will take a look at the example!

[2020-08-13 19:19] kenperregaux commented on #19
I am running your test code right now and have a couple questions.
1. I set break points in the comparer inside CalculateDifferences but it never gets hit. I tried to do this because my custom comparer that I wrote doesn't seem to be getting called or is not working correctly and I'd like to find out why.
2. What I would like is if one list has a different number than the other the one with extra

[2020-08-13 19:46] ValeraT1982 commented on #19
@kenperregaux can you share your code?

1. It looks like you don't pass factory to your comparer and default one is used.
2. I think something like comparer.CalculateDifferences(new FormulaItem(), formulaItem2) should work

[2020-08-13 20:25] kenperregaux commented on #19
`	internal class TestFactory : ComparersFactory
	{
		public override ObjectsComparer.IComparer<T> GetObjectsComparer<T>(ComparisonSettings settings = null,
			BaseComparer parentComparer = null)
		{
			if (typeof(T) != typeof(IList<FormulaItem>))
			{
				return base.GetObjectsComparer<T>(settings, parentComparer);
			}

			var comparer = new CustomFormulaItemsComparer(settings, parentComparer, th

[2020-08-13 21:05] kenperregaux commented on #19
Also, I added a simple dictionary to the Formula class so  I assumed I would need another converter...so I added one but doesn't seem to get called...here is my factory code now...is this wrong?

[code]

[2020-08-14 18:54] ValeraT1982 commented on #19
1) Probably condition **typeof(T) == typeof(IList<FormulaItem>)** isn't correct. Do [this](https://stackoverflow.com/a/418709).
2) You should have generic parameter or type argument for GetObjectsComparer method. I don't see neither parameter no argument.

P.S. Can you please fix code formatting, it's difficult to read?

[2020-08-14 18:55] ValeraT1982 commented on #19
"Part of my understanding problem is the GetObjectsComparer of the factory only gets called once for the Formula (I would have thought it would be called twice once for Formula and once for IList)"

Yes. It should be called twice.

[2020-08-24 13:35] kenperregaux commented on #19
Hi I seemed to have solve most of my problems, thank so much for the help. I do have one more question. I have tried to use the IgnoreMember api on a comparer but it is not defined and I can't seem to find it anywhere in the definitions of your classes or interfaces. Thanks again!

[2020-08-24 18:33] ValeraT1982 commented on #19
@kenperregaux, what exactly "not defined"? https://github.com/ValeraT1982/ObjectsComparer#ignoring-members describes how to use it.

[2020-08-24 18:40] kenperregaux commented on #19
var comparer = factory.GetObjectsComparer<IAnalysisMethod>();
comparer.IgnoreMember("Id");

Getting the error:
'IComparer<IAnalysisMethod>' does not contain a definition for 'IgnoreMember' and no accessible extension method 'IgnoreMember' accepting a first argument of type 'IComparer<IAnalysisMethod>' could be found (are you missing a using directive or an assembly reference?)

So I was using it (

[2020-08-24 18:56] ValeraT1982 commented on #19
IgnoreMember method are part of BaseComparer. I need to add them to IBaseComparer also, I'll fix it in the next version.
The simplest workaround is to use AddComparerOverride methods and use DoNotCompareValueComparer as comparer.

Thank you for finding this issue!!!

[2020-08-24 20:20] kenperregaux commented on #19
Ah OK thanks!

Sorry but I still have one more question, I want to show my users the full object when a new item is added to a collection. Giving the comparer a new of the object doesn't work because some properties are the defaults. Is there a way to create a custom comparer which loops through all the properties in the object and returns a defference with MissedElementInFirstObject difference ty

[2020-08-24 23:25] ValeraT1982 commented on #19
@kenperregaux. no worries 😉 . The only way to do it is to implement it in your custom comparer. I don't see any existing comparer pieces that can help you with this.

[2021-01-05 17:40] abhishekkandi opened #20 "Same DateTime property value is being returned under differences"
![image](https://user-images.githubusercontent.com/30003726/103679329-b682eb80-4faa-11eb-99c1-978696524813.png)
![image](https://user-images.githubusercontent.com/30003726/103679423-d0243300-4faa-11eb-9618-0ca0128dfbd9.png)
![image](https://user-images.githubusercontent.com/30003726/103679505-eaf6a780-4faa-11eb-8235-ab24b1d681e4.png)

[2021-01-05 23:09] ValeraT1982 commented on #20
@abhishekkandi, I think it's because values are actually different. You call GetSample1Data() 2 times (which calls DateTime.UtcNow 2 times). Values have the same string representation, but the second one must be bigger by several milliseconds.

[2021-01-06 06:31] abhishekkandi commented on #20
Right, Makes sense.

[2021-01-06 06:31] #20 closed

[2021-02-21 02:01] vbjay opened #21 "Add Dupe value Comparer"
Add a comparer that allows you to specify members to compare and find duplicate values.

Example:

[code]
This comparer would say you have duplicates between FirstName and LastName if those members were included in the items.

[2021-02-22 18:17] ValeraT1982 commented on #21
@vbjay, can you please tell more about your usecase?

[2021-02-27 19:56] muradsun opened #22 "Int? object property result a cast issue"
Try this

Class object1 { int? numericManagerId = null }
Class object2 { int? numericManagerId = 120 }

  var matched = _comparer.Compare(object1, object2, out var differences);
            var y = differences.ToList().Count();

Bellow Error will popup:
System.InvalidCastException
  HResult=0x80004002
  Message=Unable to cast object of type 'System.Int32' to type 'System.String'.
  Source=System.P

[2021-02-27 21:01] #19 closed

[2021-03-01 02:44] ValeraT1982 commented on #22
@muradsun can you please provide all code for your example? In the code you provided you declare 2 classes **object1** and **object2**, then you use these class names as variable names. How **_comparer** variable was initialized?

[2021-03-13 01:52] rbeesley opened #23 "ICollection<object> values aren't being compared"
[code]

I expected Compare to return a false. If I change the type of objects to List<int> and use integers or if I change the type to List<string> and use strings it will see the differences, but I have an ICollection, IList or IDictionary, which can consist of different primitives or  ICollection types and I'm trying to find a way to verify that the potentially deeply nested values are the same.

[2021-03-15 11:08] rsaeed-volvocars opened #24 "Ignoring leading/trailing whitespaces in comparison as a general rule"
Hi,

I would like to know the easiest way to ignore leading/trailing whitespaces when doing the comparison. I do not want to set this rule for individual properties but adding it as a general rule.

So "Test" and "Test " should not return a difference. And this should be done for all the properties rather than hardcoding for each property.

Regards,
Riz

[2021-03-15 23:06] ValeraT1982 commented on #23
@rbeesley, it's an expected behavior. If you specify type of the elements as an **object** then comparer compare elements by properties declared in **object**.

In this case probably the best solution would be to convert all elements to sting and then compare as List<string>.

[2021-03-15 23:11] ValeraT1982 commented on #24
@rsaeed-volvocars, you can override comparison rule for a string type. See https://github.com/ValeraT1982/ObjectsComparer#overriding-comparison-rules for more details.

[2021-03-16 17:19] rsaeed-volvocars commented on #24
Well I had a struggle with it when I used it in the Factory. It always threw AmbiguousComparerOverrideResolutionException even though there was only one comparer for type string.

public class MyComparersFactory : ComparersFactory
{

    public override IComparer<T> GetObjectsComparer<T>(ComparisonSettings settings = null,
        BaseComparer parentComparer = null)
    {

        IComparer<T> com

[2021-03-16 19:10] ValeraT1982 commented on #24
@rsaeed-volvocars I'll have a look. You can try AddComparerOverride only if **parentComparer==null**

[2021-03-22 01:05] ValeraT1982 commented on #24
@rsaeed-volvocars, it works. Look [here](https://github.com/ValeraT1982/ObjectsComparer/blob/master/ObjectsComparer/ObjectsComparer.Tests/Comparer_Issue24Tests.cs)

[2021-03-22 01:05] #24 closed

[2021-03-22 01:05] #23 closed

[2021-04-26 16:25] nishars opened #25 "Dictionary comparison not working if keys are the same but values are different"
Hi,
We are using this package(1.4.1) to compare 2 objects, works fine except for Dictionary objects.
If the Dictionary keys are same but values are different, it says that the 2 objects are still Equal.
Is there any custom comparer that can be used to compare Dictionaries?

Thanks.

[2021-04-27 19:46] #21 closed

[2021-04-27 19:46] #22 closed

[2021-04-27 20:11] ValeraT1982 commented on #25
Hi @nishars. I added additional test (https://github.com/ValeraT1982/ObjectsComparer/blob/master/ObjectsComparer/ObjectsComparer.Tests/Comparer_GenericEnumerableTests.cs#L514-L528) and according to this test "If the Dictionary keys are same but values are different, it says that the 2 objects are **NOT** Equal".

Can you please show your code?

[2021-05-09 19:06] leandrobattochio opened #26 "Compare two objects with List properties"
How can I compare two objects that has a List property and use only the ID of that list to compare the differences? I read the documentation and couldnt find anything that solves my problem.

[2021-05-09 20:49] ValeraT1982 commented on #26
Can you please provide an example of your code? Probably you'll need  a custom comparer. Look at [this](https://github.com/ValeraT1982/ObjectsComparer#example-4-custom-comparer-for-list) example.

[2021-05-09 20:59] leandrobattochio commented on #26
This is my entities:

[code]

By comparing Fornecedor, I want to know which "Produto" has been modified. I want to compare the ID only of Produto, discarding all the other properties. I tried this example you provided but I cannot make it work. Maybe I'm missing something?

[2021-05-10 16:25] ValeraT1982 commented on #26
What do you mean by "compare the ID only of Produto"?
If object 1 and  object 2 have product with id=1 but with different Nome/Descricao/ListaDePreco do you want comparer to see this objects as equal?
What if object 1 and  object 2 have products with id=1 and id=2 but in different order?

Can you please provide code of your custom comparer and describe issue you have?

[2021-05-13 18:06] cotepatrice opened #27 "DateTime? difference MemberPath returns PropertyName.Value"
Hi!

I tried comparing 2 Nullable DateTime. The comparison goes well, but in the "Differences" list, I get "MyPropertyName.Value" instead of just "MyPropertyName" in MemberPath.

You can easily reproduce this behavior by modifying TestClass.A. Change DateTimeProperty type for DateTime?. After that, you can use the ComparerTests.PropertyInequality to see the behavior by looking at the differences r

[2021-05-13 19:15] ValeraT1982 commented on #27
Behavior you described is "by design". As I remember nullable types are structs with property "Value". It's what you see in the path.

**_Do you think it would be possible to return the real property name here?_** I don't think it's possible, but you can remove ".Value" from the MemberPath string

[2021-05-13 20:01] #27 closed

[2021-06-10 08:02] 4yck opened #28 "Can't compare nested elements from json"
Hi,

I use package 1.4.1 comparing two json files to find differencies ignoring some dynamic data fields (e.g Id)

Having the following json files, I want to ignore only Data.Id and Note fields

JSON_1:
{
  "Data": [
    {
      "Id": 7353,
      "Name": null,
      "Type": null,
      "Note": "Transfer test",
      "DocumentType": null
    }
  ],
  "Id": 356,
  "IsSuccess": true,
  "ErrorReason":

[2021-06-10 16:12] ValeraT1982 commented on #28
@4yck, you are right. Comparer doesn't support memberName with dots.

As a workaround, you can  compare objects then filter differences by MemberPath

Does that work for you?

[2021-06-11 06:24] 4yck commented on #28
I guess it will be ok for me, thank you @ValeraT1982 !

[2021-06-11 16:28] #28 closed

[2021-06-28 13:27] ChrEggenberger opened #29 "Comparision of object lists in Expando objects only looks at the count"
Comparing an ExpandoObject with a property with a value of a string List works fine.

[code]
But the same thing with a object list fails

[code]

We encountered the problem using your good library together with deserializing an ExpandoObject from a json. which creates this generic object list.

[2021-06-28 17:12] ValeraT1982 commented on #29
This is an expected behavior. If type of the list is object Comparer compares all properties/fields of a class object. As far as object class doesn't have any properties or fields Comparer consider elements of the list equal

[2021-06-28 17:12] #29 closed

[2021-06-28 17:12] #25 closed

[2021-06-28 17:13] #26 closed

[2021-06-30 08:49] ChrEggenberger commented on #29
Yes, I understand your point.
Your library is using a comparer which suits the type of the property.
In our case it makes more sense to use the type of the property value whenever possible. This can be different (see my sample). I do not know if this would make sense in a general way as well and I'm not proud of my change to your code at all nor do I know for sure if it works for all cases. Especi

[2021-06-30 16:15] ValeraT1982 commented on #29
I agree that logic you implemented may make sense for some scenarios.  You can copy source code in your project and make this change or you can implement custom comparer with [factory](https://github.com/ValeraT1982/ObjectsComparer#factory).

[2021-07-15 12:59] luismiguelferreira opened #31 "ArgumentException comparing two objects"
Hi.

I'm receiving System.ArgumentException: obj1 when comparing two objects. Can you please help me identify the root cause?

Error:
`System.ArgumentException: obj1
   at ObjectsComparer.DynamicValueComparer`1.IsArgumentException(Object obj, String argumentName)
   at ObjectsComparer.DynamicValueComparer`1.Compare(Object obj1, Object obj2, ComparisonSettings settings)
   at ObjectsComparer.Compar

[2021-07-15 17:05] ValeraT1982 commented on #31
@luismiguelferreira can you please share your code?

[2021-07-15 18:26] luismiguelferreira commented on #31
I'm comparing two objects (`ProductDocument`):

[code]

CompareObjectsFactory:

[code]

ProductDocumentComparerBuilder:

[code]

[2021-07-15 19:25] ValeraT1982 commented on #31
Can you please add stacktrace for the error?

[2021-07-15 19:40] luismiguelferreira commented on #31
Relevant info of stacktrace:

[code]

[2021-07-15 20:09] ValeraT1982 commented on #31
What is the type of ProductDocument.Colors? It looks like one of conditions [here](https://github.com/ValeraT1982/ObjectsComparer/blob/master/ObjectsComparer/ObjectsComparer/ValueComparers/DynamicValueComparer.cs#L67) is false

[2021-07-15 20:24] luismiguelferreira commented on #31
IList

[2021-07-15 21:30] ValeraT1982 commented on #31
Try
return new ObjectsComparer.Comparer<IList<Color>>().Compare(cl1, cl2);
not
return new ObjectsComparer.Comparer<List<Color>>().Compare(cl1, cl2);

[2021-07-16 11:13] luismiguelferreira commented on #31
Hi, @ValeraT1982. I tried this solution but it's not solving the problem.

[2021-07-16 22:29] ValeraT1982 commented on #31
Can you please share ProductDocument class code?

[2021-07-21 08:27] luismiguelferreira commented on #31
[code]

[2021-07-22 02:54] ValeraT1982 commented on #31
Really interesting case. It happens when Colors equal to null. AddComparerOverride with expression as a parameter cannot be used in this case. You need to create a custom value comparer.

[code]

[code]

I'll try to fix it in the next versions.

[2021-07-22 10:12] luismiguelferreira commented on #31
Thanks @ValeraT1982 .

[2021-07-22 10:12] #31 closed

[2021-09-14 12:36] rsaeed-volvocars opened #32 ".Net core Compatibility"
Is it compatible for .Net Core 3.x and will it be supported for higher versions of .Net core e.g. 5.x or 6.x ?

[2021-09-14 15:53] ValeraT1982 commented on #32
Yes. Package has .NETStandard 1.6, 20, and 2.1 builds.  .Net Core 3.0 uses .NETStandard 2.1 (https://docs.microsoft.com/en-us/dotnet/standard/net-standard) and as I know it's OK to reference lower versions

Yes. I'm planning to support high versions in the future.

[2021-09-29 20:02] t03apt opened #33 "Is ObjectsComparer stateless?"
Hi!
Is ObjectsComparer stateless? Can I use each comparer as singleton? Should I worry about reusing the same instance cross threads?

[2021-09-30 16:02] ValeraT1982 commented on #33
No. Comparer has some [properties](https://github.com/ValeraT1982/ObjectsComparer/blob/master/ObjectsComparer/ObjectsComparer/BaseComparer.cs#L13-L25). It's not safe to use one instance of comparer across multiple threads.

[2021-10-01 07:57] #33 closed

[2021-11-03 10:15] adancy opened #34 "NuGet packages not strong named"
I don't know if this is just the latest version, but when trying to use the NuGet packages for ObjectsComparer they do not appear to be strongly named. This means we're not able to use the library without having to either manually re-sign the package, or download from source and compile. Any chance packages could be strongly named going forward?

[2021-11-03 16:32] ValeraT1982 commented on #34
Can you please provide the text of the error?
"we're not able to use the library without having to either manually re-sign the package" is it because of some specific settings of your project?

[2021-11-03 16:36] adancy commented on #34
It's because our own app is strong name signed, and that then requires all referenced libraries to also be strong named (see https://docs.microsoft.com/en-us/dotnet/standard/assembly/strong-named)

The specific error is "Assembly generation failed -- Referenced assembly 'ObjectsComparer' does not have a strong name"

For now we've worked around it by recompiling the library with strong name enable

[2021-11-03 16:49] ValeraT1982 commented on #34
Thanks for the additional info. I'll have a look.

[2021-11-22 19:23] tmenezes opened #35 "Use Dictionary Key for the diff member path"
**Issue:**
While comparing two dictionaries, it isn't easy to identify what is the item that contains difference if the item key isn't exposed.

**Solution proposal:**
While using dictionaries, the **Key** property could be used as **MemberPath** in order to identify the item like the Property Name does for any complex object.

[2021-11-22 19:40] tmenezes commented on #35
I just realized that we have support for `ExpandoObject` which is an implementation of `IDictionary<string, object>`...
So, it should be straight forward to bring such functionality for regular generic dictionaries as well

[2021-11-23 01:29] ValeraT1982 commented on #35
Make sense. I'll think about it in the next version

[2021-11-23 01:30] #32 closed

[2022-01-05 13:19] PeterOsterdahl opened #36 "Getting each property as added or deleted when comparing against a null object"
Hi Valera!
I'm wondering what the best way would be to change the behaviour when one of the compared objects is null and the other isn't.
In the default implementation one value would be '' and the other object.ToString().
The result I'm looking for is to have each property of the not null object returned as added or deleted (depending on if they are from obj1 or obj2).
Is this possible?

Great wo

[2022-01-05 16:42] ValeraT1982 commented on #36
Don't think it's possible. Can you please give an example of the objects and comparison result you want?

[2022-01-05 20:36] PeterOsterdahl commented on #36
It's rather simple
class A{
 public string Name {get;set;}
}
class B {
  public int Id {get; set;}
  public A InnerA {get;set;}
}

var B1 = new B{ Id = 1, InnerA = new A{Name = "a"}};
var B2 = new B{ Id = 1};

Comparing should yield something like :
Difference: DifferenceType=MissedElementInSecondObject, MemberPath='InnerA.Name', Value1='a', Value2=''

[2022-01-06 17:37] ValeraT1982 commented on #36
You can loop through differences and change '' to added or deleted.

[2022-01-07 08:23] PeterOsterdahl commented on #36
I think the default behaviour of the Comparer<T> when one object is null is to return
` new Difference(string.Empty, DefaultValueComparer.ToString(obj1), DefaultValueComparer.ToString(obj2));`
so the output will be
`Difference: DifferenceType=ValueMismatch, MemberPath='InnerA', Value1='ObjectsComparer.Examples.Example6.Example6Tests+A', Value2=''. `
So there is really nothing to iterate.
I solved

[2022-01-07 16:59] ValeraT1982 commented on #36
I don't see any elegant solution for your case.

[2022-01-07 16:59] #36 closed

[2022-02-09 16:44] EnCey commented on #25
Is it possible that if the Value isn't a primitive type, that the comparison doesn't work?
I think I'm experiencing the same issue, I have a `Dictionary<string, SomeClass>` and no matter how much I change `SomeClass` in my second dictionary, the Comparer always reports `true` i.e. that both dictionaries are equal.

**Update:** I've isolated the problem, in my case the issue is that my value is an

[2022-02-09 17:21] ValeraT1982 commented on #25
Yes. This is by design. If you create compares as new ObjectsComparer.Comparer<IBar>() then only members if IBar would be compared.

[2022-02-09 18:23] EnCey commented on #25
In the 2nd test I don't explicitly create a `Comparer<IBar>`, I do create a specific `Comparer<Foo>`.
But that comparer also only compares `IBar` members, it ignores `Bar.Name`.
That is to say, the problem is more difficult to spot in that case, and I was also unaware that inheritance hierarchies aren't supported out of the box.

[2022-02-09 19:55] ValeraT1982 commented on #25
In the second test comparer comparers only members of IBar because Bars declared as IDictionary<string, IBar>

[2022-04-08 06:49] HZ-GeLiang opened #39 "The comparison of null values to String.empty is not explicit"
I have two objects

![image](https://user-images.githubusercontent.com/16562680/162375776-ae800003-e5d3-4d00-9e4e-876c7b8ebcca.png)

I can't tell the difference between value1 and value 2 from the prompt because one value is null and the other is stirm.empty

![image](https://user-images.githubusercontent.com/16562680/162384475-6178e804-6fec-4b1a-a195-a773123db69d.png)

![image](https://user-image

[2022-04-08 22:37] ValeraT1982 commented on #39
Yes. Null is represented as empty string. How would you expect to represent 'nothing' as a string?

[2022-04-11 07:43] HZ-GeLiang commented on #39
I looked at the source code and found that Difference overrides the stirng method.
If I wanted to customize the prompt message, I would not get Null value while iterating over differences

[2022-04-11 15:59] #39 closed

[2022-04-11 20:18] DCourtel opened #40 "Class with IList<Uri> throws AmbiguousComparerOverrideResolutionException"
A class like this:
[code]
Throws an AmbiguousComparerOverrideResolutionException when compared with this code:
[code]
Uncommenting the line with the AddComparerOverride method solves the issue but the comparer should be able to compare list of Uri natively.
Also, the error message is misleading:

It should reference IList of Uri.
Thanks.

[2022-05-04 05:45] ValeraT1982 commented on #40
Fix submitted. Will be available in the next version.

[2022-05-04 16:37] DCourtel commented on #40
Thanks.

[2022-05-04 16:37] #40 closed

[2022-05-09 02:38] oising opened #41 "Consider implementing a short-circuiting fast path for quick comparison"
i.e. if I want to know if two objects are different, it would be good to have a short-circuiting boolean test method to return true if any difference (in practice, the first difference found) is detected. This is useful when implementing a batch saving system.

[2022-05-09 06:55] reponemec commented on #41
Comparer works with the "yield" keyword. Performance is therefore guaranteed in this way.

[2022-05-09 12:39] oising commented on #41
Doesn't look like that to me:

1. https://github.com/ValeraT1982/ObjectsComparer/blob/b106e48c467957dc3a41961345ed8769f0b3403a/ObjectsComparer/ObjectsComparer/Comparer.cs#L46

Later on the boolean `Compare` methods short-circuit with `.Any()` but at this point it's already compared the entire object.

[2022-05-09 15:09] ValeraT1982 commented on #41
@oising you are right. Comparer always compare all differences. I'll think about improving it in the next versions.

[2022-05-10 11:52] reponemec commented on #41
I thought it does not matter how a Compare ( => CalculateDifferences) operation is invoked (using reflection or not), i.e. yieldings should work as expected in both cases.
Can you provide a simple test method?

[2022-05-10 17:53] oising commented on #41
Try it yourself. Make two instances of an object with multiple properties. Have every property write a message to the console when the getter is called. Use Compare to validate.

edit: @reponemec my code snippet was misleading -- it's not the reflection that is significant.

[2022-05-11 12:21] reponemec commented on #41
I did it and only the first property seems to have been read:
[code]

[2022-05-16 12:46] reponemec commented on #41
Maybe I don't have the right test method, but it works as expected - the comparer only reads the first changed property .

[2022-06-03 17:18] Sherif-Ahmed opened #42 "IgnoreInComparisonAttribute is sealed"
Hello,
In my situation, I need to inherit it to do some business logic for my solution. I will use another attribute that depends on the comparison.

[2022-06-03 17:37] ValeraT1982 commented on #42
Can you please tell more what you need to do? Is making this attribute not sealed will help you?

[2022-06-05 16:59] masherak opened #43 "Comparing expandoObject deserialized via JsonSerializer does not work"
Helo, if I use deserialization method from class JsonSerializer and namespace: System.Text.Json so comparing end with zero differences everytime. If I use newtonsoft - JsonConvert it is working well.

[2022-06-06 15:53] ValeraT1982 commented on #43
Can you please give an example?

[2022-06-06 16:43] masherak commented on #43
namespace: System.Text.Json
<img width="746" alt="image" src="https://user-images.githubusercontent.com/15813908/172206318-3eca0764-7cb0-449e-b285-c47a0a32db5a.png">

[2022-06-08 04:20] ValeraT1982 commented on #43
What framework do you use? What version of the JsonSerializer package?
Line
`var deserializedValue1 = System.Text.Json.JsonSerializer.Deserialize<ExpandoObject>("JSON");`
throws an exception because "JSON" isn't a valid JSON.

[2022-06-10 07:32] masherak commented on #43
It is actual version of .NET 6

[2022-06-10 07:33] masherak commented on #43
Yes "JSON" is really not valid JSON just replace it with some JSON with one field and you will se that it is not work.

[2022-06-10 14:27] ValeraT1982 commented on #43
Please provide working code example, result and result you expect.

[2022-06-13 06:14] reponemec commented on #41
Up. @ValeraT1982

[2022-06-20 14:56] masherak commented on #43
var testObject1 = new
		{
			A = "ABC",
			B = "CBA"
		};

		var testObject2 = new
		{
			A = "CBA",
			B = "ABC"
		};

		var testJson1 = JsonSerializer.Serialize(testObject1);

		var testJson2 = JsonSerializer.Serialize(testObject2);

		Console.WriteLine($"testJson1: {testJson1}");
		Console.WriteLine($"testJson2: {testJson2}");

		var comparer = new Comparer(new ComparisonSettings { UseDefaultIf

[2022-06-20 14:57] masherak commented on #43
<img width="351" alt="image" src="https://user-images.githubusercontent.com/15813908/174629767-e46c6f89-e58c-4107-8d32-3efa4a5e666b.png">

[2022-06-20 14:59] masherak commented on #43
With JsonSerializer you can see 0 changes, with JsonConvert it is work well.

[2022-06-20 18:49] ValeraT1982 commented on #43
Now I see the problem.
System.Text.Json.JsonSerializer.Deserialize<ExpandoObject>(obj); returns Expando object and each property type is System.Text.Json.JsonElement. System.Text.Json.JsonElement has only 2 properties:
[code]

Only these 2 properties are used by comparer. It's why comparer says that objects are equal.
As a solution, you can create a custom comparer for System.Text.Json.JsonElement

[2022-06-21 08:16] masherak commented on #43
Ok, thank you very much, have a nice day.

[2022-06-21 08:16] #43 closed

[2022-06-30 15:20] zakkra opened #46 "Tuples with complex types compared using DefaultValue comparer"
This basically checks for object equality rather than comparing properties of underlying objects.
IsComparable extension method should take this into account and return false.

[2022-06-30 23:53] ValeraT1982 commented on #46
Can you please provide an example?

[2022-07-01 10:26] zakkra commented on #46
[code]

[2022-07-01 10:31] zakkra commented on #46
I am on .net6 by the way, thanks for looking.
I dealt with it in my code by looping through elements of tuple like:

[code]

[2022-11-18 09:36] BAV0 opened #48 "Members of type object are not taken into account"
**Issue:**
When comparing 2 objects of the same class, which has a member of type _object_, this member's value (or type for that matter) is not taken into account.

**Example:** ([.NET Fiddle](https://dotnetfiddle.net/n09eIU))
[code]

**Workaround:** ([.NET Fiddle](https://dotnetfiddle.net/Km5pvY))
A possible workaround is to override the comparison for _object_-type members:
[code]

[2022-11-19 01:01] ValeraT1982 commented on #48
It'a an expected behavior. Comparer "looks" at the type of the property to get the list of the members.

More details [here](https://github.com/ValeraT1982/ObjectsComparer/issues/6)

[2022-11-19 01:01] #48 closed